@import "../Variables/variables.scss";

.block-header {
  @include flex-column;
  padding: 20px;
  gap: 30px;

  @media (min-width:$bp-max-mobile) {
    @include flex-column;
    padding: 40px 30px;
    gap: 30px;
  }
  
  @media (min-width: $bp-min-desktop) {
    @include flex-column;
    padding: 40px 70px;
    gap: 30px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;

    @media (min-width:$bp-max-mobile) {
      padding-bottom: 30px;
    }


    &__logo-text {
      display: none;
    }

    &__nav-btn {
      @include Gilroy-Bold;
      display: flex;
      align-items: center;
      border: none;
      font-size: 25px;
      font-weight: 400;
      text-transform: uppercase;
      background: #F5F3EA;
    }

    @media (min-width:$bp-max-mobile) {
      &__logo {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: #000;
      }

      &__logo-text {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        @include Gilroy-Bold;
        font-size: 29px;

      }

      &__logo-text-light {
        @include Gilroy-Medium;
        font-size: 29px;
        text-transform: uppercase;
        &::after {
          content: "®";
          font-size: 20px;
          @include Gilroy-Light;
          position: absolute;



        }
      }



    }
  }

  &__title {
   @include Gilroy-Bold;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;

    @media (min-width:$bp-max-mobile) {
      font-size: 92px;

    }

    @media (min-width: $bp-min-desktop) {
      font-size: 110px;
    }
  }

  &__title--light {
    text-align: center;
    @include Gilroy-Light;
    font-size: 36px;
    font-weight: 300;
    text-transform: capitalize;

    @media (min-width:$bp-max-mobile) {
      font-size: 92px;
    }

    @media (min-width: $bp-min-desktop) {
      font-size: 110px;
    }
  }

  &__btn {
    @include flex-column;
    align-items: center;
    gap: 10px;
    background: #F5F3EA;
    border: none;

    &::after {
      content: url("../../img/arrow head.svg");
    }
  }
}













