@import "../Variables/variables.scss";

.block-what {
    @include flex-column;
    align-items: flex-start;

    @media (min-width:$bp-min-desktop) {
        display: flex;
        flex-direction: row;
    }

    &__background-img {
        width: 100%;
        height: 320px;
        background-image: url("../../img/what-i-do-phone.png");
        background-size: cover;

        @media (min-width:$bp-min-tablet) {
            background-image: url("../../img/what-i-do-bgd.jpg");
            background-size: cover;
            width: 100%;
            height: 991px;
        }

        @media (min-width:$bp-min-desktop) {
            background-image: url("../../img/what-i-do-bgd.jpg");
            background-size: cover;
            width: 100%;
            height: 1042px;
        }

    }

    &__description {
        @include flex-column;
        padding: 20px 0px;
        gap: 40px;

        @media (min-width:$bp-min-tablet) {
            padding: 40px 0;
        }

        @media (min-width:$bp-min-desktop) {
            padding: 70px 0;
            gap: 100px;
        }

        &__title {
            display: flex;
            justify-content: center;
            padding: 0px 20px;

            @media (min-width:$bp-min-tablet) {
                padding: 0 30px;
            }

            @media (min-width:$bp-min-desktop) {
                padding: 0px 70px 0px 111px;
            }

            span {
                @include Gilroy;
                font-size: 55px;
                font-weight: 300;
                text-transform: uppercase;

                @media (min-width:$bp-min-tablet) {
                    font-size: 88px;
                }
            }
        }

        &__profession {
            @include flex-column;
            gap: 30px;
            align-items: flex-start;
            padding: 0px 20px;

            @media (min-width:$bp-min-tablet) {
                gap: 40px;
                padding: 0px 30px;
            }

            @media (min-width:$bp-min-tablet) {
                padding: 0px 70px 0px 111px;
            }

            &__container {
                @include flex-column;
                align-items: flex-start;
                gap: 10px;
                align-self: stretch;

                &__title1 {
                    @include Gilroy-Bold;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: normal;
                    text-transform: uppercase;
                    position: relative;

                    @media (min-width:$bp-min-tablet) {
                        font-size: 39px;
                    }

                    @media (min-width:$bp-min-desktop) {
                        font-size: 25px;
                    }


                    &::before {
                        content: "01 ";
                        @include Gilroy-Light;

                    }

                }

                &__title2 {
                    @include Gilroy-Bold;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: normal;
                    text-transform: uppercase;
                    position: relative;

                    @media (min-width:$bp-min-tablet) {
                        font-size: 39px;
                    }

                    @media (min-width:$bp-min-desktop) {
                        font-size: 25px;
                    }

                    &::before {
                        content: "02 ";
                        @include Gilroy-Light;

                    }
                }

                &__title3 {
                    @include Gilroy-Bold;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: normal;
                    text-transform: uppercase;
                    position: relative;

                    @media (min-width:$bp-min-tablet) {
                        font-size: 39px;
                    }

                    @media (min-width:$bp-min-desktop) {
                        font-size: 25px;
                    }

                    &::before {
                        content: "03 ";
                        @include Gilroy-Light;

                    }
                }

                &__title4 {
                    @include Gilroy-Bold;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: normal;
                    text-transform: uppercase;
                    position: relative;

                    @media (min-width:$bp-min-tablet) {
                        font-size: 39px;
                    }

                    @media (min-width:$bp-min-desktop) {
                        font-size: 25px;
                    }

                    &::before {
                        content: "04 ";
                        @include Gilroy-Light;

                    }
                }

                &__text {
                    @include Inter;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 28px;
                    align-self: stretch;

                    @media (min-width:$bp-min-tablet) {
                        font-size: 15px;
                    }

                    @media (min-width:$bp-min-desktop) {
                        font-size: 25px;
                    }
                }

            }

            &__line {
                height: 1px;
                background: $black-title-background;
                width: 100%;
            }

        }
    }
}