$bp-min-mobile: 320px;
$bp-min-tablet: 768px;
$bp-min-desktop: 1200px;

$black-title-background: #252525;
$black-text: #333;
$black-text-span: #000;

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin Gilroy {
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
}

@mixin Gilroy-Light {
    font-family: 'Gilroy-Light',sans-serif;
    font-style: normal;
}


@mixin Gilroy-Medium {
    font-family: 'Gilroy-Medium',sans-serif;
    font-style: normal;
}

@mixin Gilroy-Bold {
    font-family: 'Gilroy-Bold',sans-serif;
    font-style: normal;
}

@mixin Inter {
    font-family: 'Inter',sans-serif;
    font-style: normal;
}

@mixin Gilroy-SemiBold {
    font-family: 'Gilroy-SemiBold',sans-serif;
    font-style: normal;
}
